
<div ng-controller="CustomerAdminController as admin">
    <header>
          <img src="images/querer_logo.png" width="240" height="154" alt="" ng-click="admin.logoClick()"/>
      <div class= "logout" id="logout">
          <button class="btn-register" id="logout" ng-click="admin.removeToken()" >Logout</button>

      </div>

    </header>

    <div id="wrapper">

        <div class="customerPage-container">

            <div class="top flex">
                <form class="customerForm flex" method="get" ng-submit="admin.addCustomer()">
                    <input id="customer_heads" type="text" name="customer_heads" ng-model="admin.customer.heads" placeholder="Heads">
                    <input id="customer_name" type="text" name="customer_name" ng-model="admin.customer.customerName" placeholder="Name">
                    <input id="customer_mobile" type="text" name="customer_mobile" ng-model="admin.customer.phone" placeholder="Mobile">
                    <input id="customer_eta" type="text" name="customer_eta" ng-model="admin.customer.eta" placeholder="ETA">
                    <button id="newCustomer" ng-model = "admin.button" class="btn-submit">{{ admin.button }}</button>
                </form>
            </div>


            <div class="bottom">
                <!-- customer -->

                <table class="customerTable" id="customerTable">
                    <thead>
                        <tr>
                            <td><i class="fa fa-user fa-2x" aria-hidden="true"></i></td>
                            <td>NAME</td>
                            <td>MOBILE</td>
                            <td><i class="fa fa-clock-o fa-2x" aria-hidden="true"></i></td>
                            <td>
                                <div class="change-eta">
                                    <form class="flex delayForm" action="">
                                        <input type="text" name="restarant_name" placeholder="Global">
                                        <button class="btn-doit">Add</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </thead>
                    <tbody id="customerListAdmin" ng-repeat="customer in admin.all">

                        <tr class= "customer-row">
                          <td class="heads">{{customer.heads}}</td>
                          <td class="name">{{customer.customerName}}</td>
                          <td class="name">{{customer.phone}}</td>
                          <td class="timer">{{ ((customer.finishedWaiting - admin.timeNow)/60000).toFixed(2) }}  </td>
                          <td class="flex">
                            <button ng-click ="admin.editCustomer(customer)" class="btn-remove">Edit Me</button>
                            <button ng-click="admin.deleteCustomer(customer)" class="btn-remove" style="margin-left: 15px">Delete Me</button>
                          </td>

                        </tr>
                        <!-- dynamic content -->
                    </tbody>

                </table>
                <!-- end customer -->
            </div>


        </div>
    </div>


</div>
