
<div ng-controller="CustomerAdminController as admin">
    <header>
      <div class="btn-register" id="logout">
        <form class="column" ng-submit="admin.removeToken()">
          <button class="btn-register" id="logout" >Logout</button>
        </form>

      </div>

        <a href="home.html"><img src="images/querer_logo.png" width="240" height="154" alt="" /></a>

    </header>

    <div id="wrapper">

        <div class="customerPage-container">

            <div class="top flex">
                <form class="customerForm flex" method="get" ng-submit="admin.addCustomer()">
                    <input id="customer_heads" type="text" name="customer_heads" ng-model="admin.customer.heads" placeholder="Heads">
                    <input id="customer_name" type="text" name="customer_name" ng-model="admin.customer.customerName" placeholder="Name">
                    <input id="customer_mobile" type="text" name="customer_mobile" ng-model="admin.customer.phone" placeholder="Mobile">
                    <input id="customer_eta" type="text" name="customer_eta" ng-model="admin.customer.eta" placeholder="ETA">
                    <button id="newCustomer" class="btn-submit">Add Customer</button>
                </form>
            </div>


            <div class="bottom">
                <!-- customer -->

                <table class="customerTable" id="customerTable">
                    <thead>
                        <tr>
                            <td><i class="fa fa-user fa-2x" aria-hidden="true"></i></td>
                            <td>NAME</td>
                            <td>MOBILE</td>
                            <td><i class="fa fa-clock-o fa-2x" aria-hidden="true"></i></td>
                            <td>
                                <div class="change-eta">
                                    <form class="flex delayForm" action="">
                                        <input type="text" name="restarant_name" placeholder="Global">
                                        <button class="btn-doit">Add</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </thead>
                    <tbody id="customerListAdmin" >
                      <tr ng-repeat="customer in admin.all">
                        <td>{{customer.heads}}</td>
                        <td>{{customer.customerName}}</td>
                        <td>{{customer.phone}}</td>
                        <td ng-model="customer.finishedWaiting">{{ ((customer.finishedWaiting - admin.timeNow)/60000).toFixed(2) }}  </td>




                      </tr>
                        <!-- dynamic content -->
                    </tbody>

                </table>
                <!-- end customer -->
            </div>
        </div>
    </div>


</div>
