

    <header ng-controller="RestaurantController as admin">
        <a ng-click="admin.logoClick()"><img src="images/querer_logo.png" width="240" height="154" alt="" /></a>
    </header>

    <div id="wrapper">

        <div class="publicPage-container">

            <div class="bottom">
                <!-- customer -->

                <table class="customerTable" id="customerTable">
                    <thead>
                        <tr>
                            <td><i class="fa fa-user fa-2x" aria-hidden="true"></i></td>
                            <td>NAME</td>
                            <td><i class="fa fa-clock-o fa-2x" aria-hidden="true"></i></td>
                        </tr>
                    </thead>
                    <tbody id="customerListAdmin" ng-controller="CustomerPublicController as customers">
                      <tr ng-repeat="customer in customers.all" class= "customer-row">
                        <td class="heads public" style="width: 10px">{{customer.heads}}</td>
                        <td class="name" style= "width: 300px">{{customer.customerName}}</td>
                        <td class="timer" style="width: 10px">{{admin.Math.floor(((customer.finishedWaiting - admin.timeNow)/60000)%60)}}:{{admin.Math.floor(((customer.finishedWaiting - admin.timeNow)/1000)%60)}</td>




                      </tr>
                        <!-- dynamic content -->
                    </tbody>

                </table>
                <!-- end customer -->
            </div>
          </div>
  <div class="socket-container">

            <div ng-controller="SocketController as socket" class="socket-row">
              <div class="col-message-board socket-column" style="width: 66%">
                  <h3>Message Board</h3>
                  <div class="overflowable">
                    <p ng-repeat = "message in socket.messages"><strong>{{message.user}}</strong> : {{message.text}}</p>

                  </div>
                </div>

                <div class="col-users socket-column" style="width: 33%">
                  <h3>Users</h3>
                  <div class="overflowable">
                    <p ng-repeat = "user in socket.users">{{user}}</p>
                  </div>
                  </div>
            <!-- <div class="socket-row"> -->

                <div class="socket-column" style="padding-left: 120px; margin-bottom: 60px;">
                  <!-- <div class="overflowable"> -->
                  <!-- <div class="col-message"> -->

                    <p>Message: </p>
                    <form ng-submit="socket.sendMessage()" class="socket-form">
                      <input type="text" class = "messages" place-holder= "Please input a message."ng-model = "socket.message">
                      <input type="submit">

                    </form>
                  <!-- </div> -->
                </div>
                <!-- </div> -->

                <!-- </div> -->

                <div class="socket-column" style="float: right; margin-bottom: 60px;">
                  <!-- <div class="col-change-name"> -->

                  <p>Your current user name is <strong>{{socket.name}}</strong></p>
                  <form class="socket-form" ng-submit="socket.changeName()">
                    <input type="text" ng-model = "socket.newName" >
                    <input type="submit" value="Change Name" place-holder="New name" >
                  </form>
                <!-- </div> -->
              </div>
              <!-- </div> -->

            </div>

    </div>
