    <header ng-controller="RestaurantController as admin">
        <img src="images/querer_logo.png" width="240" height="154" alt="" ng-click="admin.logoClick()"/>
    </header>

    <div id="wrapper" ng-controller="RestaurantController as admin">
        <div class="regPage-container">
            <div class="one">
                <form class="regForm" method="get">
                    <div class="flex">
                        <input type="text" name="restarant_name" placeholder="Restaurant Name" id="restaurant-name" ng-model="admin.restaurant.restaurantName">
                        <input style="width: 170px;" type="text" name="cuisine" placeholder="Cuisine" ng-model="admin.restaurant.cuisine" id="restaurant-cuisine">
                    </div>
                    <input type="text" name="rest_address" placeholder="Address" id="restaurant-address" ng-model="admin.restaurant.address">
                    <div class="flex">
                        <input type="text" name="rest_suburb" placeholder="Suburb" id="restaurant-suburb" ng-model="admin.restaurant.suburb">
                        <input style="width: 70px;" type="text" name="rest_postcode" placeholder="Postcode" id="restaurant-postcode" ng-model="admin.restaurant.postcode">
                    </div>
                    <input type="text" name="rest_address" placeholder="Manager" id="restaurant-username" ng-model="admin.restaurant.username">
                    <div class="flex">
                    <input type="text" name="rest_number" placeholder="Phone number" id="restaurant-phone" ng-model="admin.restaurant.phone">
                    <input type="text" name="rest_site" placeholder="www.example.com" id="restaurant-website" ng-model="admin.restaurant.website">
                  </div>
                    <div>
                      <br>
                      <hr style="border: 1px dashed #ebebeb; margin-bottom:20px;">
                        <p>Login email and password details</p>
                    </div>
                    <div class="flex">
                    <input type="email" name="rest_email" placeholder="email@example.com" id="restaurant-email" ng-model="admin.restaurant.restaurantEmail">
                    <input type="password" name="....." placeholder="Password" id="restaurant-password" ng-model="admin.restaurant.password">
</div>
                    <button class="btn-submit wide" id="btn-create-restaurant" ng-click = "admin.addRestaurant()">Submit</button>
                </form>
            </div>
            <div class="two">
                <div class="load-box"></div>
                <button class="btn-submit wide upload" id="btn-create-restaurant">Upload a logo</button>
            </div>
        </div>
    </div>
